body {
	background: linear-gradient(-45deg, #f7ccb4, #f0a6d1, #a3d8f4, #b3e7d8);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#display-info {
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgba(240, 248, 255, 0.5); 
    border: 1px solid rgba(204, 204, 204, 0.75);
}